*{
	box-sizing: border-box;
}
html, body {
 	margin: 0 auto;
  	font-family: sans-serif;
}

/*----------------------------------*/
/* Start of Headings and Navigation */
.topnav {	
	height:48px;
	position: sticky;
    top: 0px;
}

.topnavHeader{
		margin: 0;
		padding: 0;
		float: left;
		width:100%;
		text-align:left;
		font-size: 300%;
		color: rgb(60,180,120);
		background: #333;
		height: 75px;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  background: #333;
  color: rgb(60,180,120);
  border-bottom: solid 2px #008080;
  width: 16.666667%;
  height: 48px;
  
}

/*.boxes::after{
    content: "";
    display: table;
    clear: both;
}*/

.topnav a:hover {
  background: #008080;
  color: #ddd;
  border-bottom: solid 2px#333;
}

.topnav a.active {
  padding-bottom: 12px;
  background-color: #008080;
  color: white;
  border-bottom: solid 2px#333;
}

.topdiv {
	height: 50px;
	width: 100%;
	border-bottom: solid 2px #008080;
	padding-left: 16px;
}											

img{
	max-height: 100%;
	max-width: 100%;
	float:left;
}

/* End of Headings and Navigation */
/*--------------------------------*/



/*---------------------------*/
/*Start of Home Page Styling */
										/* Start of First Horizontal Divsion */
div.splittop{
	width: 100%;
	height: 400px;
}

div.lefttop {
	float:left;
	height:100%;
	font-size: 25px;
	text-align: center;
	width: 50%;
}

div.righttop {
	height:100%;
	background: #008080;
	width: 50%;
}
										/* End of First horizontal division */
										/* Start of Second horizontal division */
div.splitmiddle {
	width: 100%;
	height: 400px;
}

div.leftmiddle {
	float:left;
	height:100%;
	width:50%;
	background: #008080;
}

div.rightmiddle {
	float:left;
	height:100%;
	width:50%;
	font-size: 25px;
	text-align: center;	
}
										/* End of Second horizontal division */
										/* Start of Third horizontal division */
div.splitbottom{
	width: 100%;
	height: 400px;
}

div.leftbottom {
	float:left;
	height:100%;
	width:50%;
	text-align: center;
}

div.rightbottom {
	float: left;	
	height:100%;
	width: 50%;
	background: #008080;
}

.textbox {
	padding-top: 50px;
	padding-left: 15px;
	padding-right:15px;
	font-size: 30px;
	overflow:hidden;
}

.Image {
	height: 100%;
	width:50%;
	margin: auto auto auto auto;
	vertical-align: center;
	display: block;
}
										/* End of Third horizontal division */
										/* Start of Very bottom */
div.verybottom {
	height: 100px;
	width: auto;
	background: #333;
	padding-top:15px;
	padding-left: 35%;
}

.verybottom a {
	color: white;
}

.verybottom a:hover {
	background-color: #008080;
}

.verybottom a.active {
  background-color: #008080;
  color: white;
}
										/*End of Very bottom */
	

/* End of Home page Styling */
/*--------------------------*/



























